# GENERAL
ENVIRONMENT=development
PORT=3000
HOST=http://localhost:3000
SECRET_KEY=deVelopMent

# DATABASE
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=db_shopedia
DB_DIALECT=mysql

# MAILER
SMTP_HOST=
SMTP_PORT=
APP_EMAIL=
APP_EMAILPASSWORD=

# CLOUDINARY
CLOUD_NAME=fazztrackfw5
CLOUD_API_KEY=549268679411557
CLOUD_API_SECRET=YELxSTjkB2YnJQEFIbECBVNtr4k
